@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    position: relative;
    font-family: "Comfortaa", sans-serif;
}

.main-container {
    min-height: 100vh;
    /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
    /* height of your footer */
}

#hero-image {

   /* background: url('../images/code-lady.jpg') no-repeat center center;*/
    background-size: cover;
    width: 100vw;
}


.navbar-dark, .bg-dark {
    background-color: #9a6D38!important;
    font-size: larger;
}
#ourname {
    background-color: #9A6D38;
    padding: 30px;
    width: 100%;
}
/*--body-info--*/

#index-info-2 {
    float: left;
}

#index-info-3 {
    float: left;
}

#info {
    width: 100%;
}

/*-----footer----*/

#mailto a{
    color: white;
}

.container-fluid {
    margin: 0;
    padding: 0;
    border: 0;
    position: sticky;
}

.list-inline {
    margin: 0;
    padding: 0;
    border: 0;
}

.list-inline-item i {
    font-size: 50px;
    margin: 0 auto;
    color: white;
    max-width: height 80px;
}

.list-inline li {
    padding-left: 35px;
}

.footer-style {
    padding: 10px;
}

.bg-light {
    background-color: #9A6D38!important;
}